<div class="container-fluid">

  <div class="row">
    <div class="col-5 left">
      <div class="title">
        <h1>
          Topology
          <p>
            Topology tool is a fast, small, and feature rich javascript UI package for building high performance and
            dynamical
            topology.
          </p>
        </h1>
        <div class="btn">
          <button class="btn btn-primary btn-lg btn-space" [routerLink]="['/demo']">LIVE DEMO</button>
        </div>
      </div>

      <div class="bd-callout feature">
        <ul>
          <li>Easy To Build</li>
          <li>Cross Browsers</li>
          <li>High Performance</li>
          <li>Powerful Base API</li>
          <li>Easy Build & Bind Events</li>
          <li>Effects & Animations</li>
          <li>Common Network Components Integrated</li>
        </ul>
      </div>



    </div>

    <div class="col-7 right">
      <div class="screenshot"></div>
    </div>

  </div>

</div>