:root {
    --blue: #258DFF;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #ff6666;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #15bf81;
    --teal: #20c997;
    --cyan: #72b5ff;
    --white: #fff;
    --gray: #a7a8a9;
    --gray-dark: #343a40;
    --primary: #258DFF;
    --secondary: #dcdfe6;
    --success: #15bf81;
    --info: #72b5ff;
    --warning: #ffc107;
    --danger: #ff6666;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 0.875rem;
    font-weight: 400;
    color: #212529;
    text-align: left;
    background-color: #fff;
    height: 100vh;
    width: 100vw;
}

#network {
    height: 100%;
    table.tooltiptable {
        font-family: verdana, arial, sans-serif;
        border-collapse: collapse;
        background-color: rgba(255,255,255,0.8);
        .topLine {
            border-top-width: 1px;
            border-top-style: solid;
            border-top-color: rgb(230, 189, 189);
        }
    }

    table.tooltiptable th{
        padding: 5px 10px;
        font-size: 14px;
        font-family: Verdana;
        color: rgb(177, 106, 104);
    }

    table.tooltiptable td {
        padding: 5px 5px 5px 10px;
        font-size: 14px;
        font-family: Verdana;
        color: rgb(177, 106, 104);
    }
}

.toolbar {
    padding-bottom: 8px;
    .btn {
        margin-right: 10px;
    }
}