<div class="toolbar">

  <div class="change-icon">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      Change edge's type
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="javascript:void(0)" (click)="changeEdgeType(0)">Straight line</a>
      <a class="dropdown-item" href="javascript:void(0)" (click)="changeEdgeType(1)">Bezier curve</a>
    </div>
  </div>

</div>

<div id="network">
</div>